<footer class="bg-dark text-light pt-4 pb-3 mt-auto">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-3">
        <h5>Link Utili</h5>
        <ul class="list-unstyled">
          <li><a href="/" class="text-light text-decoration-none">Home</a></li>
          <li><a href="/" class="text-light text-decoration-none">Catalogo Libri</a></li>
          <li><a href="/" class="text-light text-decoration-none">Il Mio Account</a></li>
          <li><a href="/" class="text-light text-decoration-none">Contatti</a></li>
        </ul>
      </div>
      <div class="col-md-4 mb-3">
        <h5>Contatti</h5>
        <p class="small">
          <strong>Indirizzo:</strong> Via Roma 123, Città, Italia<br>
          <strong>Email:</strong> info_bookstore.com<br>
          <strong>Telefono:</strong> +39 123 456 7890
        </p>
      </div>
      <div class="col-md-4 mb-3">
        <h5>Seguici</h5>
        <div>
          <a href="https://facebook.com" target="_blank" class="text-light me-3">FB</a>
          <a href="https://twitter.com" target="_blank" class="text-light me-3">X</a>
          <a href="https://instagram.com" target="_blank" class="text-light me-3">IG</a>
          <a href="https://linkedin.com" target="_blank" class="text-light">LIN</a>
        </div>
      </div>
    </div>
    <div class="text-center mt-3">
      <p class="mb-0">&copy; 2024 BookStore. Tutti i diritti riservati.</p>
    </div>
  </div>
</footer>